﻿@page "/"

<h1>Jass-Punktetafel</h1>
<p>Bi manchna Jassvarianta isch s Punktezähla ufwendig, do isch da Schriber hald efach di arme Sau. Drum gibts dafür ez a einfache App wo dia Punkte für bede Teams zemmazählt.</p>
<p><br />Im Menü odr o do unta findandr di Jassarta wo bisher unterstützt weran:</p>

<NavLink class="nav-link" href="Wachauerla">
    <span class="fa fa-spin fa-book" aria-hidden="true"></span> Wachauerla
</NavLink>
<NavLink class="nav-link" href="Coiffeur">
    <span class="fa fa-spin fa-codiepie" aria-hidden="true"></span> Coiffeurschieber
</NavLink>

<p><br /><b>Weitere Infos:</b> dia Anwendung isch bewusst efach ghalta. Es isch a ProgressiveWebApp - sie funktioniert of allna Betriebssystem wia z.B. Android, iOS, Mac, Linux <span class="fa fa-spin fa-linux" aria-hidden="true" /></p>