﻿@page "/Schlangenjass"

<h1>Schlangajass</h1>

<p>Inhalt folgt @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}