@inherits LayoutComponentBase
@*@using Blazored.Toast.Configuration*@

@*<BlazoredToasts Position="ToastPosition.BottomCenter" IconType="IconType.FontAwesome"
    SuccessIcon="fa fa-thumbs-up" ErrorIcon="fa fa-exclamation-circle" />*@

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>