﻿<div class="row" style="padding-top:0.2em">
    <div class="column first">
        <p style="margin-top:0.4em">157Rechner:</p>
    </div>
    <div class="column second">
        <input type="number" @bind="Number1" @bind:event="oninput" @onfocusin="OnFocus1" @onkeydown="@KeyboardHelper.HideKeyboardOnEnter" />
    </div>
    <div class="column third">
        <input type="number" @bind="Number2" @bind:event="oninput" @onfocusin="OnFocus2" @onkeydown="@KeyboardHelper.HideKeyboardOnEnter" />
    </div>
</div>
@code {
    private int? _number1;
    private int? Number1 { get => _number1; set { _number1 = value; _number2 = 157 - Number1; } }
    private int? _number2;
    private int? Number2 { get => _number2; set { _number2 = value; _number1 = 157 - Number2; } }

    private void OnFocus1() { Number1 = null; }
    private void OnFocus2() { Number2 = null; }
}