﻿@*@inject IToastService toastService*@
@inject IJSRuntime JsRuntime;

<style>
    .column {
        float: left;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .first {
        width: 24%;
        min-width: 3em;
        max-width: 12em;
        text-align: right;
        vertical-align: central;
        background-color: #F2F2F2;
    }

    .second {
        width: 38%;
        background-color: #FAFAD2;
    }

    .third {
        width: 38%;
        background-color: #FFF4EA;
    }

    p {
        margin-top: 0em;
        margin-bottom: 0.0em;
    }

    .row {
        padding: 0em;
    }

    ::-webkit-input-placeholder { /*center placeholder of inputs*/
        text-align: center;
    }

    :-moz-placeholder {
        text-align: center;
    }

    input {
        vertical-align: middle;
        text-align: center;
        margin: 0.2em;
        width: 100%;
    }
</style>
<div style="max-width:42em">
    <h1>@Infos.Title</h1>
    <p style="line-height:1; margin-bottom:0.5em; white-space: pre-wrap">@Infos.Description</p>
    <div class="row" style="padding-top:0.2em">
        <div class="column first">
            @*<h3>Teams</h3>*@
        </div>
        <div class="column second">
            <input type="text" @bind="Infos.Teamname1" placeholder="Team1" @onkeydown="@KeyboardHelper.HideKeyboardOnEnter" />
        </div>
        <div class="column third">
            <input type="text" @bind="Infos.Teamname2" placeholder="Team2" @onkeydown="@KeyboardHelper.HideKeyboardOnEnter" />
        </div>
    </div>

    @foreach (var jassResult in Infos.Results)
    {
        <div class="row">
            <div class="column first">
                @if (!jassResult.IsResultOK())
                {
                    <p style="color:darkred">Ungültiges Ergebnis!</p>
                }
                else
                {
                    <p style="margin-top:0.4em;@jassResult.GetStyle(0)"><span style="float:left">@jassResult.Factor</span>@jassResult.Name</p>
                }
            </div>
            <div class="column second">
                <input type="number" @bind=jassResult.Result1 @bind:event="oninput" style="@jassResult.GetStyle(1)" @onkeydown="@KeyboardHelper.HideKeyboardOnEnter" />
            </div>
            <div class="column third">
                <input type="number" @bind=jassResult.Result2 @bind:event="oninput" style="@jassResult.GetStyle(2)" @onkeydown="@KeyboardHelper.HideKeyboardOnEnter" />
            </div>
        </div>
    }
    @if (Infos.ResultTeam1 != null || Infos.ResultTeam2 != null)
    {
        <div class="row">
            <div class="column first">
                <p>Resultat:</p>
            </div>
            <div class="column second">
                <p>@Infos.ResultTeam1</p>
            </div>
            <div class="column third">
                <p>@Infos.ResultTeam2</p>
            </div>
        </div>
    }

    <button style="margin:0.5em" @onclick="GetResult" class="btn btn-primary" type="submit">Resultat berechna</button>
    <button style="margin:0.5em;float:right" @onclick="Reset" class="btn btn-primary">neue Runde</button>
    <br />
    <Rechner157 />
</div>
@code {
    [Parameter] public JassInfos Infos { get; set; }

    int countInvalidClicked = 0;

    async void GetResult()
    {
        if (Infos.IsResultOK())
        {
            if (Infos.Results.All(x => x.Result1.HasValue && x.Result2.HasValue))
            {
                countInvalidClicked = 0;
                Infos.CalculateResult();
                var team1 = string.IsNullOrWhiteSpace(Infos.Teamname1) ? "Team 1" : Infos.Teamname1;
                var team2 = string.IsNullOrWhiteSpace(Infos.Teamname2) ? "Team 2" : Infos.Teamname2;
                var points1 = Infos.ResultTeam1 ?? 0;
                var points2 = Infos.ResultTeam2 ?? 0;
                var difference = Math.Abs(points1 - points2);
                var winner = team2;
                if (Infos.ResultTeam1 > Infos.ResultTeam2)
                    winner = team1;
                var description = "";
                if (difference < 20)
                    description = "uhuara knapp ";
                else if (difference < 40)
                    description = "hoorscharf ";
                else if (difference < 70)
                    description = "würkli ganz knapp ";
                else if (difference < 120)
                    description = "mit klinam Abstand ";
                else if (difference < 200)
                    description = "mit leichtam Vorsprung ";
                else if (difference < 300)
                    description = "knapp ";
                else if (difference > 2000)
                    description = $"- jo bisch du deppad - Gibts doch ned, mit {difference} Punkte Abstand ";
                else if (difference > 1500)
                    description = "mit unglaublicham Abstand ";
                else if (difference > 1300)
                    description = "überwältigend ";
                else if (difference > 1100)
                    description = "mit gewaltigam Abstand ";
                else if (difference > 900)
                    description = "deutlich ";
                else if (difference > 700)
                    description = "mit großam Abstand ";
                else if (difference > 500)
                    description = "mit Abstand ";

                var average = Infos.Results.Select(x => winner == team1 ? x.Result1 ?? 0 : x.Result2 ?? 0).Sum() / Infos.Results.Count();
                var description2 = $"Durchschnittspunktezahl: {average}";
                if (average < 80) description2 = $"Durchschnittlich nur {average} Punkte?? Jo lon euch ned uslacha";
                else if (average < 90) description2 = $"Durchschnittlich nur {average} Punkte isch ez ned gad an Rekord..";
                else if (average < 100) description2 = $"Durchschnittlich {average} Punkte, liabr ned mit dem bim Stammtisch prahla..";
                else if (average > 160) description2 = $"Durchschnittlich {average} Pünkt? Des got abr o nur wenn dia Mätsch 257 zählan! Ach des isch doch nur deprimierend für d Gegner";
                else if (average > 150) description2 = $"Durchschnittlich {average} Punkte? Jo bisch du deppad - des schaffandr abr o ned alle Täg!";
                else if (average > 140) description2 = $"Durchschnittlich {average} Punkte, do kön dr körig zfrida si!";
                else if (average > 130) description2 = $"Mit Durchschnittlich {average} Punkte ka ma scho vo nam guata Spiel reda!";
                else if (average > 120) description2 = $"Durchschnittlich {average} Punkte isch scho überam Durchschnitt!";
                var message = $"Gratuliere {winner}, ihr hon {description}gwunna! {description2}";

                if (difference == 0)
                {
                    message = $"Wart amol, des kann doch gar ned si - i rechna zur Sicherheit gad nochamol nochi...";
                    await JsRuntime.InvokeVoidAsync("alert", message);
                    //toastService.ShowWarning(message, "Gleichstand??");
                    await Task.Delay(2500);
                    message = $"Tatsächlich - gibts denn des.. {team1} und {team2} hon glich viele Punkte! Was ez o ned wer denn gwunna hot, prüglan euch drum?!";
                }
                await JsRuntime.InvokeVoidAsync("alert", message);
                //toastService.ShowInfo(message, "Resultat");
            }
            else
            {
                countInvalidClicked++;
                var message = "S Resultat vorher berechna mindert doch da Spielspaß?! Üab di a bizle in Geduld und spilan s Spiel fertig. Ersch am Schluss dua mr do Zemmarechna";
                if (countInvalidClicked > 6)
                    message = "Na bitte, ersch am Ende vom Spiel würd zemmagrechnat - druck ned immr of den Knopf.";
                if (countInvalidClicked > 15)
                    message = "Ez los amol hera du Öpfl: füll alle Felder richtig us und mir rechnan ab mit dir!";
                await JsRuntime.InvokeVoidAsync("alert", message);
                //toastService.ShowInfo(message, "Berechna vor am Spielende?");
            }
        }
        else
        {
            countInvalidClicked++;
            var message = "Es sin ungültige Werte itret wora, bitte korigiera!";
            if (countInvalidClicked > 6)
                message = "Jo do sin ungültige Werte in da Felder, wasch du ned das nur Zahla vo 0 bis 157 und evtl. noch 257 gültig isch??";
            if (countInvalidClicked > 15)
                message = "Ach du hosch jo gar ka Ahnung wia des funktioniert.. Do find i ka passendere Worte für di";
            await JsRuntime.InvokeVoidAsync("alert", message);
            //toastService.ShowError(message, "Fehler");
        }
    }
    async void Reset()
    {
        var message = "Sollan würkli alle Werte glöscht wera?";
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", TimeSpan.FromSeconds(6), message);
        if (confirmed)
        {
            foreach (var result in Infos.Results) { result.Result1 = null; result.Result2 = null; }
            Infos.CalculateResult();
            StateHasChanged();
        }
    }
}