﻿@*<BlazoredToasts />*@

<ContentView>
    <StackLayout>
        <BlazorWebView VerticalOptions="LayoutOptions.FillAndExpand">
            <Jassen.WebUI.App />
        </BlazorWebView>
    </StackLayout>
</ContentView>

@code {

}